body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 30px;
}
.pink-highlight{
    color: rgb(240, 0, 116);
    font-size: 40px;
    font-weight: bold;

}
.half-width{
    width: 40%;
   margin: 2% 3%;
   float: left;
   padding-left: 4%;
}
div img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.top-banner{
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
}
.bio-bg{
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
}
p{
    color: dimgray;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px 20px 10px 20px;
    background-color: purple;
    color: aliceblue;
    font-weight: bold;
    background-image: linear-gradient(45deg,purple, red);
    
}

h4{
    text-align: center;
    font-size: 30px;
}
.onebythree{
    width: 30%;
    float: left;
    padding-left: 3%;
}
.bio-work{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 300px;
}
.review{
    text-align: center;
    margin: 20px 80px;
    border: 5px solid white;
    border-radius: 30px;

}
#mail{
    background-color: rgb(252, 55, 170);
    height: 200px;
    color: white;
    padding: 5px 50px;
    
}
.bottom{
    background-image: url(img/footer-bg.png);
}
h6{
    font-size: 20px;
}